<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/pages/about.html">
  <link rel="stylesheet" href="../../static/style/about.css">
  <title>About | Analytica</title>
</head>

<body>
  <div class="main-outer">
    <div class="main">
      <div class="logo">
        <img src="../../static/images/logo.png" alt="logo" class="logo-img">
      </div>
      <div class="content">
        <div class="info">
          <h2>About Us</h2>
          <div class="info-text">
            <div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit nulla ex sint? Quis iure sequi quas
                quo,
                soluta reprehenderit maiores cumque repellendus assumenda, placeat perferendis consectetur explicabo
                harum,
                facilis quibusdam laborum fugiat in voluptate et? In deleniti aliquid repellendus odit earum provident
                harum.
                Nobis, quasi. Ad dolorum harum consequatur et facere. Pariatur aperiam exercitationem repudiandae,
                asperiores,
                aliquam inventore animi perferendis unde, repellendus voluptatibus, eius quos culpa sit consequuntur
                asperiores numquam. Tempore, nisi ratione!</p>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam laborum placeat praesentium? Ea
                deserunt neque iure magni unde veniam suscipit magnam exercitationem et quis! Culpa nam magni laudantium
                aspernatur magnam, sunt doloremque expedita nostrum libero ratione tempora. Hic iure inventore aut. Quia
                excepturi quasi quibusdam?</p>
            </div>
            <div class="contact-info">
              <p>Reach out to us :)</p>
              <p><a href="mailto: hello@analytica.com">hello@analytica.com</a></p>
            </div>
          </div>
        </div>
        <div class="about-bg">
          <img src="../../static/images/about-bg.png" alt="info-image">
        </div>
      </div>
    </div>
  </div>
</body>

</html>