<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
    integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../../static/style/file-input.css">
    <link rel="stylesheet" href="../../static/style/dashboard.css">
  <title>Dashboard | Analytica</title>
</head>

<body>
  <div class="main">
    <div class="side-menubar">
      <div class="logo">
        <img src="../../static/images/logo.png" alt="logo" class="logo-img">
      </div>
      <div class="menu-section">
        <ul class="menubar">
          <li class="menu-item">
            <a href="#">
              <i class="fa fa-eye" id="pass-show-icon" aria-hidden="true"></i>
              Overview
            </a>
          </li>
          <li class="menu-item">
            <a href="#">
              <i class="fa fa-eye" id="pass-show-icon" aria-hidden="true"></i>
              Past Data
            </a>
          </li>
          <li class="menu-item">
            <a href="#">
              <i class="fa fa-eye" id="pass-show-icon" aria-hidden="true"></i>
              Contacts
            </a>
          </li>
          <li class="menu-item">
            <a href="#">
              <i class="fa fa-eye" id="pass-show-icon" aria-hidden="true"></i>
              Expert Advice
            </a>
          </li>
          <li class="menu-item">
            <a href="#">
              <i class="fa fa-eye" id="pass-show-icon" aria-hidden="true"></i>
              Settings
            </a>
          </li>
          <li class="menu-item">
            <a href="#">
              <i class="fa fa-eye" id="pass-show-icon" aria-hidden="true"></i>
              Subscription
            </a>
          </li>
        </ul>
        <ul class="menubar">
          <li class="menu-item">
            <a href="/pages/home.html">
              <i class="fa fa-eye" id="pass-show-icon" aria-hidden="true"></i>
              Go to Home
            </a>
          </li>
        </ul>
      </div>
      <div class="upload-data-btn">
        Upload Data
      </div>
    </div>

    <div class="container">
      <div class="title-bar">
        <div class="title-bar-1">
          <h2>Overview</h2>
          <div>
            <i class="fa fa-search" aria-hidden="true"></i>
            <i class="fa fa-bell" aria-hidden="true"></i>
          </div>
        </div>
        <div class="title-bar-2">
          <span>Radhe Shyam</span>
          <img src="../../static/images/profile-pic.png" alt="profile">
        </div>
      </div>

      <div class="dashboard-box1">
        <div class="db-box1-1">
          <p>Total</p>
          <p>60</p>
        </div>
        <div class="db-box1-1">
          <p>Selected</p>
          <p>15</p>
        </div>
        <div class="db-box1-1">
          <p>Rejected</p>
          <p>20</p>
        </div>
        <div class="db-box1-1">
          <p>On Hold</p>
          <p>60</p>
        </div>
      </div>

      <div>
        <div class="box db-box2">
          <div class="db-box2-1">
            <div class="db-box2-title">
              <p>Obtained Output</p>
              <p>as of 25 April 2022</p>
            </div>
            <div class="db-box2-img">
              <img src="../../static/images/home-bg.png" alt="output-graph">
            </div>
          </div>
          <div class="db-box2-2">
            <div class="db-box2-2-1">
              <p>Sample Input Rows</p>
              <p>500</p>
            </div>
            <div class="db-box2-2-1">
              <p>Sample Input Rows</p>
              <p>500</p>
            </div>
            <div class="db-box2-2-1">
              <p>Sample Input Rows</p>
              <p>500</p>
            </div>
            <div class="db-box2-2-1">
              <p>Sample Input Rows</p>
              <p>500</p>
            </div>
            <div class="db-box2-2-1">
              <p>Sample Input Rows</p>
              <p>500</p>
            </div>
          </div>
        </div>

        <div class="box db-box3">
          <div class="db-box3-1">
            <i class="fa fa-history" aria-hidden="true"></i>
            <p>Analyze Previous Data</p>
          </div>
          <div class="db-box3-1">
            <i class="fa fa-user" aria-hidden="true"></i>
            <p>Ask an Expert</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>