{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
    integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="../../static/style/home.css">
  <title>Home | Analytica</title>
</head>

<body>
  <div class="main">
    <div class="box1">
      <div class="navbar">
        <ul class="navbar-ul navbar-ul-1">
          <li><a href="#">Home</a></li>
          <li><a href="#features">Product</a></li>
          <li><a href="#pricing-section">Pricing</a></li>
          <li><a href="#contact-us">Contact</a></li>
          <li><a href="/pages/about.html">About</a></li>
        </ul>
        <ul class="navbar-ul navbar-ul-2">
          <!-- <li><a href="#"> <img src="../../static/images/twitter.png"> </a></li>
          <li><a href="#"> <img src="../../static/images/facebook.png"> </a></li>
          <li><a href="#"> <img src="../../static/images/linkedin.png"> </a></li> -->
          <li><a href="/pages/login.html" class="try-btn1">LogIn</a></li>
        </ul>
      </div>

      <div class="logo">
        <img src="../../static/images/logo.png" alt="logo">
      </div>
      <h4>Taking Wise Decisions</h4>
      <a href="/pages/file-input.html" class="try-btn">Try For Free</a>
    </div>

    <p class="info-line-1">Analytica is the fastest and easiest way to boost your business into a new dimension</p>

    <div class="features" id="features">
      <h3>Features</h3>
      <div class="feature-items">
        <div class="feature-item">
          <i class="fa fa-file" aria-hidden="true"></i>
          <p>Upload Your Data</p>
          <p>Import your SQL, CSV, and spreadsheets to generate visual reports that are easy to digest</p>
        </div>
        <div class="feature-item">
          <i class="fa fa-database" aria-hidden="true"></i>
          <p>Visulise Data</p>
          <p>Visulise the data in the most simplistic and efficient ways</p>
        </div>
        <div class="feature-item">
          <i class="fa fa-user" aria-hidden="true"></i>
          <p>Ask an Expert</p>
          <p>Connect directy to market leaders and industry experts and learn the strategies you need to grow your
            business</p>
        </div>
      </div>
    </div>

    <div class="feature-video">
      <video controls>Your browser does not support the &lt;video&gt; tag.
        <source src="../../static/images/Analytica.mp4" />
      </video>
    </div>

    <div class="box2">
      <div class="box2-1">
        <p>Upload Data across multiple Options</p>
        <p>Dive deep into your data with the help of our powerful and efficient algorithms and visuliasers</p>
        <a href="#" class="try-btn1">Try For Free</a>
      </div>
      <div class="box2-2">
        <img src="../../static/images/laptop-1.png" alt="">
      </div>
    </div>

    <div class="box3">
      <div class="box3-1">
        <img src="../../static/images/expert.png" alt="">
      </div>
      <div class="box3-2">
        <p>At your fingertips</p>
        <p>Ask our Experts</p>
        <p>Subscribe to our Newsletter</p>
        <form class="subscribe-email">
          <input type="email" placeholder="Your Email">
          <input type="submit" value="Subcribe">
        </form>
      </div>
    </div>

    <div class="partners">
      <h4>Partners</h4>
      <div class="partners-list">
        <img src="../../static/images/google-logo1.png" alt="">
        <img src="../../static/images/amazon-logo1.png" alt="">
        <img src="../../static/images/microsoft-logo1.png" alt="">
        <img src="../../static/images/uber-logo1.png" alt="">
      </div>
    </div>

    <div class="box4">
      <a href="#" class="try-btn1">Try For Free</a>
    </div>

    <div class="box5">
      <h3>Testimonials</h3>
      <img src="../../static/images/microsoft-logo1.png" alt="">
      <p>Most tools are designed for enterprise. Analytica is designed for every time of business from individual to
        large scale.</p>
      <a href="#" class="more-testimonials-btn">More Testimonials</a>
    </div>

    <div class="pricing-section" id="pricing-section">
      <h3>Pricing</h3>
      <p>Analytica is available across several options</p>
      <div class="pricing-plan">
        <div class="pricing-plan-item">
          <p class="plan-type">FREE</p>
          <p class="plan-info">Organise across all apps by hand</p>
          <p class="plan-price">0 $</p>
          <p class="plan-feature">plan-feature</p>
          <p class="plan-feature">plan-feature</p>
          <p class="plan-feature">plan-feature</p>
          <p class="plan-feature">plan-feature</p>
          <a href="#" class="order-now-btn">Order Now</a>
        </div>
        <div class="pricing-plan-item">
          <p class="plan-type">STANDARD</p>
          <p class="plan-info">Organise across all apps by hand</p>
          <p class="plan-price">10 $</p>
          <p class="plan-feature">plan-feature</p>
          <p class="plan-feature">plan-feature</p>
          <p class="plan-feature">plan-feature</p>
          <p class="plan-feature">plan-feature</p>
          <a href="#" class="order-now-btn">Order Now</a>
        </div>
        <div class="pricing-plan-item">
          <p class="plan-type">BUSINESS</p>
          <p class="plan-info">Organise across all apps by hand</p>
          <p class="plan-price">99 $</p>
          <p class="plan-feature">plan-feature</p>
          <p class="plan-feature">plan-feature</p>
          <p class="plan-feature">plan-feature</p>
          <p class="plan-feature">plan-feature</p>
          <a href="#" class="order-now-btn">Order Now</a>
        </div>
      </div>
    </div>

    <div class="contact-us" id="contact-us">
      <h3>Contact Us</h3>
      <div>
        <div class="contact-us-1">
          <h4>Contact Us</h4>
          <form class="contact-us-form">
            <input type="text" placeholder="Your Name">
            <input type="email" placeholder="Your Email">
            <textarea name="contact-us-msg" cols="35" rows="5" placeholder="Your message"></textarea>
            <a href="#" class="contact-us-submit-btn">Submit</a>
          </form>
        </div>
        <div class="contact-us-2">
          <div>
            <div class="contact-us-2-1">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              <p>Near Indroda Circle Gandhinagar,</p>
              <p>Gujarat - 388007</p>
            </div>
            <div class="contact-us-2-1">
              <i class="fa fa-mobile" aria-hidden="true"></i>
              <p>(+91) 9929265731</p>
            </div>
            <div class="contact-us-2-1">
              <i class="fa fa-envelope" aria-hidden="true"></i>
              <p>shyam@radha.com</p>
            </div>
          </div>
          <div>
            <img src="../../static/images/map.png" alt="">
          </div>
          <div>
            <ul class="navbar-ul navbar-ul-2">
              <li><a href="#"> <img src="../../static/images/twitter.png"> </a></li>
              <li><a href="#"> <img src="../../static/images/facebook.png"> </a></li>
              <li><a href="#"> <img src="../../static/images/linkedin.png"> </a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="footer" id="footer">
      <div>
        <p>Pages</p>
        <ul class="footer-menus">
          <li><a href="#">Home</a></li>
          <li><a href="#">Product</a></li>
          <li><a href="#">Pricing</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
      <div>
        <div class="footer-1">
          <i class="fa fa-map-marker" aria-hidden="true"></i>
          <p>Near Indroda Circle Gandhinagar, Gujarat - 388007</p>
        </div>
        <div class="footer-1">
          <i class="fa fa-mobile" aria-hidden="true"></i>
          <p>(+91) 9929265731</p>
        </div>
        <div class="footer-1">
          <i class="fa fa-envelope" aria-hidden="true"></i>
          <p><a href="mailto: shyam@radha.com">shyam@radha.com</a></p>
        </div>
        <ul class="footer-social-media">
          <li><a href="#"> <img src="../../static/images/twitter.png"> </a></li>
          <li><a href="#"> <img src="../../static/images/facebook.png"> </a></li>
          <li><a href="#"> <img src="../../static/images/linkedin.png"> </a></li>
        </ul>
      </div>
    </div>

  </div>
</body>

</html>