@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

.main {
  width: 100vw;
  height: 100vh;
  display: flex;
}
.output_data{
  width: 80%;
}
.output_data td,.output_data th{
  width: fit-content;
  /* color: red; */
  margin: 0px 20px;
  text-align: center;
}
.side-menubar {
  width: 15%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: rgb(48, 48, 48);
}
.logo {
  width: 100%;
  height: 12%;
  display: flex;
  justify-content: center;
  padding: 3% 0;
  border-radius: 0 0 10px 10px;
  background: #fff;
}
.logo-img {
  height: 100%;
  max-width: 100%;
}
.menu-section {
  width: 100%;
  height: 80%;
  padding: 5% 7%;
}
.menubar {
  list-style: none;
  margin: 15% 0;
}
.menu-item {
  padding: 5% 0;
}
.menu-item a {
  color: #fff;
  text-decoration: none;
}
.menu-item i,
.upload-file-btn i,
.upload-datafile-btn i {
  margin-right: 10px;
}
.upload-data-btn {
  color: #fff;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background: #007aff;
  border: 2px solid #fff;
  cursor: pointer;
  text-decoration: none;
}

.container {
  width: 85%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
  padding-top: 0;
  background: rgba(255, 255, 255, 0.79);
}
.title-bar {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
}
.title-bar-1 {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2%;
}
.title-bar-1 i {
  margin: 0 5px;
  cursor: pointer;
}
.title-bar-2 {
  width: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-left: 2px solid rgb(179, 178, 178);
  cursor: pointer;
}
.title-bar-2 img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin: 0 5%;
}
.container > div:last-child {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  padding-top: 0;
}
.box {
  width: 100%;
  height: 48%;
  border: 2px solid #000;
  border-radius: 10px;
}
.box2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.box2 > p {
  font: 500 1.5em "Josefin Sans";
  margin: 10px;
}
.uploaded-files {
  text-align: center;
}
.uploaded-files p {
  margin: 5px 0;
}

.drag-area {
  border: 2px dashed #000;
  width: fit-content;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 50px;
}
.drag-area.active {
  border: 2px solid #000;
}
.drag-area .icon {
  font-size: 100px;
}
.drag-area header {
  font-size: 30px;
  font-weight: 500;
}
.drag-area span {
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 15px 0;
}
.drag-area button {
  padding: 10px 25px;
  font-size: 20px;
  font-weight: 500;
  border: none;
  outline: none;
  color: #5256ad;
  border-radius: 5px;
  cursor: pointer;
}
.drag-area-submit-btn,
.file-select-btn {
  color: #fff !important;
  background: #007aff;
  margin-top: 5px;
}
.hidden {
  display: none !important;
}
